{# DASHBOARD SETTINGS TEMPLATE #}

{% extends 'main_dashboard.twig' %}

{% block init %}{% endblock %}

{% block include %}
  <script type="text/javascript" src="{{ asset('include/javascript/dashboard_settings.js') }}"></script>
{% endblock %}

{% block header %}
  <div class="col s12 m12 l12 xl12">
    <h5 class="center">{{ translation.dashboard.settings.page_title }}</h5>
  </div>
{% endblock %}

{% block main %}
  <form action="{{ path('dashboard_save_settings_action') }}">
    {% if languages != false %}
      <div class="col s12 m12 l12 xl12">
        <div class="input-field">
          <select id="input_store_language" name="input_store_language">
            {% for language in languages %}
              <option value="{{ language.id }}">{{ language.name }} <b>[{{ language.code }}]</b></option>
            {% endfor %}
          </select>
          <label>{{ translation.dashboard.settings.input_store_language }}</label>
        </div>
      </div>
    {% endif %}

    {% if languages != false %}
      <div class="col s12 m12 l12 xl12">
        <div class="input-field">
          <select id="input_dashboard_language" name="input_dashboard_language">
            {% for language in languages %}
              <option value="{{ language.id }}">{{ language.name }} <b>[{{ language.code }}]</b></option>
            {% endfor %}
          </select>
          <label>{{ translation.dashboard.settings.input_dashboard_language }}</label>
        </div>
      </div>
    {% endif %}

    <!-- шаг пагинации в списке продуктов -->
    <!-- цвет панели и цвет футера -->
    <!-- надписи хэдера и футера -->
    <!-- название магазина -->
  </form>

  <div class="col s12 m12 l12 xl12 center">
    <div class="input-field">
      <a class="btn btn-large green white-text clickable" id="button_save_settings">{{ translation.dashboard.settings.button_save_settings }}</a>
      <a class="btn btn-large red white-text clickable" href="{{ path('dashboard_dashboard') }}">{{ translation.dashboard.settings.button_cancel_settings }}</a>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  $('select').formSelect();
{% endblock %}
