{# DASHBOARD STYLES TEMPLATE #}

{% extends 'main_dashboard.twig' %}

{% block init %}
  var input;
  var preview;
  var selected_color;
{% endblock %}

{% block include %}
  <script type="text/javascript" src="{{ asset('extras/javascript/dashboard_styles.js') }}"></script>
  <link rel="stylesheet" href="{{ asset('extras/stylesheet/dashboard_styles.css') }}"/>

  <script type="text/javascript" src="{{ asset('library/javascript/clipboard.js') }}"></script>
{% endblock %}

{% block header %}
  <h5 class="center">{{ translation.dashboard.styles.page_title }}</h5>
  <div class="col s12 m12 l12 xl12">
    <div class="collection">
      <a class="collection-item" href="{{ path('dashboard_settings') }}"><i class="material-icons left">arrow_back</i>{{ translation.dashboard.styles.back_to_settings }}</a>
    </div>
  </div>
  <div class="col s12 m12 l12 xl12">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons left">info</i>{{ translation.dashboard.styles.page_info_title }}</div>
        <div class="collapsible-body"><p>{{ translation.dashboard.styles.page_info }}</p></div>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main %}
  <div id="header_background">
    <div class="col s10 push-s2">
      <div class="input-field">
        <input type="text" id="input_header_background" value="" />
        <label fore="input_header_background">Header background</label>
      </div>
    </div>
    <div class="col s2 pull-s10">
      <div class="input-field">
        <a class="btn btn-large clickable white-text"><i class="material-icons">done_all</i></a>
      </div>
    </div>
  </div>
{% endblock %}

{% block modules %}
  <input type="hidden" id="input_clipboard" value="" />

  <div id="modal_colors_palette" class="modal modal-fixed-footer">
    <div class="modal-content">
      {% for color in colors %}
        <div class="valign-wrapper color-palette black-text" style="background-color: #{{ color.code }};" onclick="preselectColor('#{{ color.code }}'); unselectColors(); $(this).addClass('z-depth-5');">{{ color.name }}</div>
      {% endfor %}
    </div>
    <div class="modal-footer">
      <a class="clickable waves-effect waves-blue btn-flat left" id="button_copy_to_clipboard"><i class="material-icons left">file_copy</i><span id="field_color_code">#000000</span></a>
      <a class="clickable modal-close waves-effect waves-red btn-flat">{{ translation.dashboard.styles.button_close }}</a>
    </div>
  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large cyan accent-4" id="button_colors_palette">
      <i class="large material-icons">palette</i>
    </a>
  </div>
{% endblock %}

{% block javascript %}
  /* ========== INIT CLIPBOARD ========= */
  var clipboard = new ClipboardJS('#button_copy_to_clipboard', {
    text: function() {
        //console.log(document.getElementById('input_clipboard').value);
        return document.getElementById('input_clipboard').value;
    }
  });

  clipboard.on('success', function(e) {
    console.log('Success');
    console.log(e);
  });
  clipboard.on('error', function(e) {
    console.log('Error');
    console.log(e);
  });

  /* ========== PALETTE ========= */
  $('.fixed-action-btn').floatingActionButton();

  $('#button_colors_palette').on('click', function() {
    var elem = $('#modal_colors_palette');
    var instance = M.Modal.getInstance(elem);
    instance.open();
  });

  /* ============================== */
  /*$('#button_select_color').on('click', function(){
    input.value = selected_color;
    preview.style.backgroundColor = selected_color;
    M.updateTextFields();
  });*/

  /* ========== HEADER BACKGROUND ========== */
  /*$('#card_header_background').find('.button-colors-palette').on('click', function() {
    input = $('#card_header_background').find('input')[0];
    preview = $('#card_header_background').find('.preview-selected-color')[0];
    openColorsPalette();
  });
  $('#input_header_background').on('change', function() {
    preview = $('#card_header_background').find('.preview-selected-color')[0];
    var input_value = $(this).val();
    preview.style.backgroundColor = input_value;
  });*/

{% endblock %}
