{# DASHBOARD SCRIPTS TEMPLATE #}
{% extends 'main_dashboard.twig' %}

{% block init %}
  var get_scripts_action_url = "{{ path('dashboard_get_scripts_action') }}";
  var get_script_action_url = "{{ path('dashboard_get_script_action') }}";
  var add_script_action_url = "{{ path('dashboard_add_script_action') }}";
  var edit_script_action_url = "{{ path('dashboard_edit_script_action') }}";
  var delete_script_action_url = "{{ path('dashboard_delete_script_action') }}";

  var html = new String;

  var render_script_status_on = "{{ translation.dashboard.scripts.render_script_status_on }}";
  var render_script_status_off = "{{ translation.dashboard.scripts.render_script_status_off }}";

  var button_edit_script = "{{ translation.dashboard.scripts.button_edit_script }}";
  var button_delete_script = "{{ translation.dashboard.scripts.button_delete_script }}";

  var alert_add_script = "{{ translation.dashboard.scripts.alert_add_script }}";
  var alert_edit_script = "{{ translation.dashboard.scripts.alert_edit_script }}";
  var alert_delete_script = "{{ translation.dashboard.scripts.alert_delete_script }}";
  var warning_scripts_missing = "{{ translation.dashboard.scripts.warning_scripts_missing }}";
  var error_get_scripts = "{{ translation.dashboard.scripts.error_get_scripts }}";
  var error_get_script = "{{ translation.dashboard.scripts.error_get_script }}";
  var error_add_script = "{{ translation.dashboard.scripts.error_add_script }}";
  var error_edit_script = "{{ translation.dashboard.scripts.error_edit_script }}";
  var error_delete_script = "{{ translation.dashboard.scripts.error_delete_script }}";
{% endblock %}

{% block include %}
  <script type="text/javascript" src="{{ asset('include/javascript/dashboard_scripts.js') }}"></script>
{% endblock %}

{% block header %}
  <h5 class="center">{{ translation.dashboard.scripts.page_title }}</h5>

{% endblock %}

{% block main %}
  <div class="col s12 m12 l12">
    <ul class="tabs" id="scripts_tabs">
      <li class="tab col s6 m6 l6"><a href="#tab_form">{{ translation.dashboard.scripts.tab_form }}</a></li>
      <li class="tab col s6 m6 l6"><a class="active" href="#tab_scripts">{{ translation.dashboard.scripts.tab_scripts }}</a></li>
    </ul>
  </div>

  <div id="tab_form">
    <div class="col s12 m12 l12">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons left">info</i>{{ translation.dashboard.scripts.page_info_title }}</div>
          <div class="collapsible-body"><p>{{ translation.dashboard.scripts.page_info }}</p></div>
        </li>
      </ul>
    </div>

    <div class="col s12 m12 l12">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title" id="form_title_add_script">{{ translation.dashboard.scripts.form_title_add_script }}</span>
          <span class="card-title" id="form_title_edit_script">{{ translation.dashboard.scripts.form_title_edit_script }}</span>

          <div class="input-field">
    				<input type="text" id="input_script_name" value="" />
    				<label for="input_script_name">{{ translation.dashboard.scripts.input_script_name }}</label>
    			</div>
    			<div class="input-field">
    				<textarea class="materialize-textarea" id="input_script_data"></textarea>
    				<label for="input_script_data">{{ translation.dashboard.scripts.input_script_data }}</label>
    			</div>
          <div class="input-field">
            <select id="input_script_status">
              <option value="0" selected>{{ translation.dashboard.scripts.script_status_off }}</option>
              <option value="1">{{ translation.dashboard.scripts.script_status_on }}</option>
            </select>
            <label>{{ translation.dashboard.scripts.input_script_status }}</label>
          </div>

    			<input type="hidden" id="input_script_id" value="" />

        </div>
        <div class="card-action">
          <a class="clickable" id="button_add_script">{{ translation.dashboard.scripts.button_add_script }}</a>
          <a class="clickable display-none" id="button_save_script">{{ translation.dashboard.scripts.button_save_script }}</a>
          <a class="clickable" id="button_clear_form">{{ translation.dashboard.scripts.button_clear_form }}</a>
        </div>
      </div>
    </div>

  </div>

  <div id="tab_scripts">
    <div class="col s12 m12 l12 display-none" id="card_scripts_missing">
      <div class="card hoverable">
        <div class="card-content">
          <p>
            <i class="material-icons left">info</i> {{ translation.dashboard.scripts.text_scripts_missing }}
          </p>
        </div>
      </div>
    </div>

    <div class="center display-none" id="preloader_circle">
			{% include 'preloader_circle.html' %}
		</div>

    <div id="scripts_content"></div>
  </div>

{% endblock %}

{% block javascript %}
  $('#form_title_edit_script').hide();
  $('select').formSelect();

  getScripts();

  $('#button_clear_form').on('click', function() {
  	clearForm();
      elegant_alert.success("{{ translation.dashboard.scripts.alert_clear_form }}");
  });

  $('#button_add_script').on('click', function() {
    var form = serializeForm();
    if (form.name.length >= 2 && form.data.length >=3) {
      addScript(form);
    } else {
      elegant_alert.warning("{{ translation.dashboard.scripts.warning_input_form }}");
    }
  });

  $('#button_save_script').on('click', function() {
    var form = serializeForm();
    if (form.name.length >= 2 && form.data.length >=3) {
      editScript(form);
    } else {
      elegant_alert.warning("{{ translation.dashboard.scripts.warning_input_form }}");
    }
  });
{% endblock %}
