{# ======== DASHBOARD REGISTRATION TEMPLATE ======== #}
{% extends 'main_dashboard.html.twig' %}

{% block init %}
	var register_user_action_url = "{{ path('dashboard_register_user_action') }}";

	var alert_register_user = "{{ translation.dashboard.registration.alert_register_user }}";
	var error_register_user = "{{ translation.dashboard.registration.error_register_user }}";
{% endblock %}

{% block include %}
	<script type="text/javascript" src="{{ asset('library/javascript/form_verification.js') }}"></script>

	<script type="text/javascript" src="{{ asset('include/javascript/dashboard_registration.js') }}"></script>
{% endblock %}

{% block main %}
	<h5 class="center">{{ translation.dashboard.registration.page_title }}</h5>

	<div class="col s12 m12 l12">
		<div class="card hoverable">
			<div class="card-content">
				<p>{{ translation.dashboard.registration.form_info }}</p>
			</div>
		</div>
	</div>

	<div class="col s12 m12 l12">
		<div class="card hoverable">
			<div class="card-content">
				<span class="card-title">{{ translation.dashboard.registration.form_title }}</span>
				<form id="form_register_user" enctype="multipart/form-data" action="{{ path('dashboard_register_user_action') }}" method="post">
					<p>
						<div class="input-field">
							<input type="text" name="input_user_name" id="input_user_name" value="" />
							<label for="input_user_name">{{ translation.dashboard.registration.input_user_name }}</label>
						</div>
						<div class="input-field">
							<input type="text" name="input_user_phone" id="input_user_phone" value="" />
							<label for="input_user_phone">{{ translation.dashboard.registration.input_user_phone }}</label>
						</div>
						<div class="input-field">
							<input type="text" name="input_user_email" id="input_user_email" value="" />
							<label for="input_user_email">{{ translation.dashboard.registration.input_user_email }}</label>
						</div>
						
						<div class="input-field">
							<input type="text" name="input_user_password" id="input_user_password" />
							<label for="input_user_password">{{ translation.dashboard.registration.input_user_password }}</label>
						</div>
					</p>
				</form>
			</div>
			<div class="card-action">
				<a class="clickable" id="button_register_user">{{ translation.dashboard.registration.button_register_user }}</a>
				<a class="clickable" id="button_clear_form">{{ translation.dashboard.registration.button_clear_form }}</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
     //  Сделать проверку введенных телефона и почты на наличие в БД
	$('#button_register_user').on('click', function () {
		var form_data = serializeForm();
		if(form_data.name.length >= 3 && checkEmail(form_data.email) == true && checkPhone(form_data.phone) == true && form_data.password.length >= 6) {
			$('#form_register_user').trigger('submit');
		} else {
			elegant_alert.warning("{{ translation.dashboard.registration.warning_input_form }}");
		}
		delete form_data;
	});

	$('#button_clear_form').on('click', function() {
		clearForm();
		elegant_alert.success("{{ translation.dashboard.registration.alert_clear_form }}");
	});

{% endblock %}
