{# DASHBOARD IMAGES TEMPLATE #}

{% extends 'main_dashboard.twig' %}

{% block init %}
  var get_images_action_url = "{{ path('dashboard_get_images_action') }}";
  var save_images_action_url = "{{ path('dashboard_save_images_action') }}";
{% endblock %}

{% block include %}
  <script type="text/javascript" src="{{ asset('library/javascript/random_token.js') }}"></script>
{% endblock %}

{% block header %}
  <h5 class="center">{{ translation.dashboard.images.page_title }}</h5>
  <div class="col s12 m12 l12 xl12">
    <div class="collection">
      <a class="collection-item" href="{{ path('dashboard_settings_main') }}"><i class="material-icons left">arrow_back</i>{{ translation.dashboard.images.back_to_settings }}</a>
    </div>
  </div>

  <div class="col s12 m12 l12">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="material-icons left">info</i>{{ translation.dashboard.images.page_help_title }}</div>
        <div class="collapsible-body">
          <p>{{ translation.dashboard.images.page_help_text }}</p>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main %}
  <form id="form_register_author" enctype="multipart/form-data" action="{{ path('dashboard_save_images_action') }}" method="post" accept="image/*">
    <div class="col s12 m12 l12 xl12">
      <div class="card hoverable">
        <div class="card-content center">
          <img class="responsive-img" src="{{ images.icon }}" />
        </div>
        <div class="card-content">
          <div class="file-field input-field tooltipped" data-position="top" data-delay="50" data-tooltip="{{ translation.dashboard.images.button_select_image }}">
            <div class="btn btn-large purple white-text">
              <span><i class="material-icons">file_upload</i></span>
              <input type="file" name="input_store_icon_file" id="input_store_icon_file" />
            </div>
            <div class="file-path-wrapper">
              <input type="text" class="file-path validate" name="input_store_icon_filename" id="input_store_icon_filename" value="" placeholder="{{ translation.dashboard.images.input_store_icon }}" />
            </div>
          </div>
          <input type="hidden" name="store_icon_filehash" value="0" />
          <input type="hidden" name="change_store_icon" value="0" />
        </div>
      </div>
    </div>
    <!-- реализовать возможность предпросмотра изображения перез загрузкой -->

  </form>

  <div class="col s12 m12 l12 xl12 center">
    <a class="btn btn-large green white-text" id="button_save_images">{{ translation.dashboard.images.button_save_images }}</a>
  </div>
{% endblock %}

{% block javascript %}
  $('#input_store_icon_file').on('change', function() {

  });

  $('#button_save_images').on('click', function() {

  });
{% endblock %}
