{# DASHBOARD SETTINGS TEMPLATE #}

{% extends 'main_dashboard.twig' %}

{% block init %}

{% endblock %}

{% block include %}
  <script type="text/javascript" src="{{ asset('include/javascript/dashboard_settings.js') }}"></script>
{% endblock %}

{% block header %}
  <h5 class="center">{{ translation.dashboard.settings.page_title }}</h5>
{% endblock %}

{% block main %}
  <div class="col s12 m12 l12 xl12">
    <div class="card hoverable">
      <div class="card-content">
        <!-- можно поместить все элементы формы сюда, и в экшене сделать две кнопки Сохранить и Отменить
      По нажатию на Сохранить вызывать JS метод для сохранения, при нажатии Отмена вызывать метод для получения всех настроек -->
      </div>
      <div class="card-action">
        <a class="clickable" id="button_save_settings">{{ translation.dashboard.settings.button_save_settings }}</a>
        <a class="clickable" id="button_cancel_settings">{{ translation.dashboard.settings.button_cancel_settings }}</a>
      </div>
    </div>
  </div>

  <div class="col s12 m12 l12 xl12">
    <div class="input-field">
      <select id="input_store_language">
        <option value="">ajdfksjdhf</option>
      </select>
      <label>{{ translation.dashboard.settings.input_store_language }}</label>
    </div>
  </div>

  <div class="col s12 m12 l12 xl12">
    <div class="input-field">
      <select id="input_store_language">
        <option value="">ajdfksjdhf</option>
      </select>
      <label>{{ translation.dashboard.settings.input_dashboard_language }}</label>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  $('select').formSelect();
{% endblock %}
