{# DASHBOARD INFORMATION TEMPLATE #}

{% extends 'main_dashboard.twig' %}

{% block init %}
  var get_information_action_url = "{{ path('dashboard_get_information_action') }}";
  var save_information_action_url = "{{ path('dashboard_save_information_action') }}";

  var alert_create_new_file = "{{ translation.dashboard.information.alert_create_new_file }}";
  var alert_save_information = "{{ translation.dashboard.information.alert_save_information }}";
  var error_get_information = "{{ translation.dashboard.information.error_get_information }}";
  var error_save_information = "{{ translation.dashboard.information.error_save_information }}";
{% endblock %}

{% block include %}
  <script type="text/javascript" src="{{ asset('extras/javascript/dashboard_information.js') }}"></script>
{% endblock %}

{% block header %}
  <h5 class="center">{{ translation.dashboard.information.page_title }}</h5>
  <div class="col s12 m12 l12 xl12">
    <div class="collection">
      <a class="collection-item" href="{{ path('dashboard_settings_main') }}"><i class="material-icons left">arrow_back</i>{{ translation.dashboard.information.back_to_settings }}</a>
    </div>
  </div>

  <div class="col s12 m12 l12">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="material-icons left">info</i>{{ translation.dashboard.information.page_help_title }}</div>
        <div class="collapsible-body">
          <p>{{ translation.dashboard.information.page_help_text }}</p>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main %}
  {% if languages != false %}
    <div class="col s12 m12 l12 xl12">
      <div class="input-field">
        <select id="input_information_language">
          {% for language in languages %}
            {% if language.store_selected == true %}
              <option value="{{ language.id }}" selected>{{ language.name }}</option>
            {% else %}
              <option value="{{ language.id }}">{{ language.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <label for="input_information_language">{{ translation.dashboard.information.input_information_language }}</label>
      </div>
    </div>
  {% endif %}

  <div class="col s12 m12 l12 xl12">
    <div class="input-field">
      <textarea class="materialize-textarea" id="input_information_text"></textarea>
      <label for="input_information_text">{{ translation.dashboard.information.input_information_text }}</text>
    </div>
  </div>

  <div class="col s12 m12 l12 xl12 center">
    <a class="btn btn-large green white-text" id="button_save_information">{{ translation.dashboard.information.button_save_information }}</a>
  </div>
{% endblock %}

{% block javascript %}
  $('select').formSelect();
  getInformation(Number($('#input_information_language').val()));

  $('#input_information_language').on('change', function() {
    getInformation(Number($('#input_information_language').val()));
  });

  $('#button_save_information').on('click', function() {

  });
{% endblock %}
