{# DASHBOARD STYLES TEMPLATE #}

{% extends 'main_dashboard.twig' %}

{% block init %}
  var input;
  var preview;
  var selected_color;
{% endblock %}

{% block include %}
  <script type="text/javascript" src="{{ asset('extras/javascript/dashboard_styles.js') }}"></script>
  <link rel="stylesheet" href="{{ asset('extras/stylesheet/dashboard_styles.css') }}"/>
{% endblock %}

{% block header %}
  <h5 class="center">{{ translation.dashboard.styles.page_title }}</h5>
  <div class="col s12 m12 l12 xl12">
    <div class="collection">
      <a class="collection-item" href="{{ path('dashboard_settings') }}"><i class="material-icons left">arrow_back</i>{{ translation.dashboard.styles.back_to_settings }}</a>
    </div>
  </div>
  <div class="col s12 m12 l12 xl12">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons left">info</i>{{ translation.dashboard.styles.page_info_title }}</div>
        <div class="collapsible-body"><p>{{ translation.dashboard.styles.page_info }}</p></div>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main %}
  <div class="col s12 m12 l12 xl12" id="card_header_background">
    <div class="card hoverable">
      <div class="card-content">
        <h6>{{ translation.dashboard.styles.title_header_background }}</h6>
        <div class="input-field preview-selected-color valign-wrapper z-depth-5" style="background-color: #aaff55;"></div>
        <div class="input-field">
          <input type="text" id="input_header_background" value="" />
          <label for="input_header_background">{{ translation.dashboard.styles.input_header_background }}</label>
        </div>
      </div>
      <div class="card-action">
        <a class="clickable button-colors-palette"><i class="material-icons left">color_lens</i>{{ translation.dashboard.styles.button_colors_palette }}</a>
      </div>
    </div>
  </div>

  <div class="col s12 m12 l12 xl12" id="card_header_text">
    <div class="card hoverable">
      <div class="card-content">
        <h6>{{ translation.dashboard.styles.title_header_text }}</h6>
        <div class="input-field preview-selected-color valign-wrapper z-depth-5" style="background-color: #aaff55;"></div>
        <div class="input-field">
          <input type="text" id="input_header_text" value="" />
          <label for="input_header_text">{{ translation.dashboard.styles.input_header_text }}</label>
        </div>
      </div>
      <div class="card-action">
        <a class="clickable button-colors-palette"><i class="material-icons left">color_lens</i>{{ translation.dashboard.styles.button_colors_palette }}</a>
      </div>
    </div>
  </div>

  <div class="col s12 m12 l12 xl12" id="card_footer_background">
    <div class="card hoverable">
      <div class="card-content">
        <h6>{{ translation.dashboard.styles.title_footer_background }}</h6>
        <div class="input-field preview-selected-color valign-wrapper z-depth-5" style="background-color: #aaff55;"></div>
        <div class="input-field">
          <input type="text" id="input_footer_background" value="" />
          <label for="input_footer_background">{{ translation.dashboard.styles.input_footer_background }}</label>
        </div>
      </div>
      <div class="card-action">
        <a class="clickable button-colors-palette"><i class="material-icons left">color_lens</i>{{ translation.dashboard.styles.button_colors_palette }}</a>
      </div>
    </div>
  </div>

  <div class="col s12 m12 l12 xl12" id="card_footer_text">
    <div class="card hoverable">
      <div class="card-content">
        <h6>{{ translation.dashboard.styles.title_footer_text }}</h6>
        <div class="input-field preview-selected-color valign-wrapper z-depth-5" style="background-color: #aaff55;"></div>
        <div class="input-field">
          <input type="text" id="input_footer_text" value="" />
          <label for="input_footer_text">{{ translation.dashboard.styles.input_footer_text }}</label>
        </div>
      </div>
      <div class="card-action">
        <a class="clickable button-colors-palette"><i class="material-icons left">color_lens</i>{{ translation.dashboard.styles.button_colors_palette }}</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block modules %}
  <div id="modal_colors_palette" class="modal modal-fixed-footer">
    <div class="modal-content">
      {% for color in colors %}
        <div class="valign-wrapper color-palette black-text" style="background-color: #{{ color.code }};" onclick="preselectColor('#{{ color.code }}'); unselectColors(); $(this).addClass('z-depth-5');">{{ color.name }}</div>
      {% endfor %}
    </div>
    <div class="modal-footer">
      <a class="clickable waves-effect waves-green btn-flat" id="button_select_color">{{ translation.dashboard.styles.button_select_color }}</a>
      <a class="clickable modal-close waves-effect waves-red btn-flat">{{ translation.dashboard.styles.button_close }}</a>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  $('#button_select_color').on('click', function(){
    input.value = selected_color;
    preview.style.backgroundColor = selected_color;
    M.updateTextFields();
  });

  /* ========== HEADER BACKGROUND ========== */
  $('#card_header_background').find('.button-colors-palette').on('click', function() {
    input = $('#card_header_background').find('input')[0];
    preview = $('#card_header_background').find('.preview-selected-color')[0];
    openColorsPalette();
  });
  $('#input_header_background').on('change', function() {
    preview = $('#card_header_background').find('.preview-selected-color')[0];
    var input_value = $(this).val();
    preview.style.backgroundColor = input_value;
  });

  /* ========== HEADER TEXT ========== */
  $('#card_header_text').find('.button-colors-palette').on('click', function() {
    input = $('#card_header_text').find('input')[0];
    preview = $('#card_header_text').find('.preview-selected-color')[0];
    openColorsPalette();
  });
  $('#input_header_text').on('change', function() {
    preview = $('#card_header_text').find('.preview-selected-color')[0];
    var input_value = $(this).val();
    preview.style.backgroundColor = input_value;
  });

  /* ========== FOOTER BACKGROUND ========== */
  $('#card_footer_background').find('.button-colors-palette').on('click', function() {
    input = $('#card_footer_background').find('input')[0];
    preview = $('#card_footer_background').find('.preview-selected-color')[0];
    openColorsPalette();
  });
  $('#input_footer_background').on('change', function() {
    preview = $('#card_footer_background').find('.preview-selected-color')[0];
    var input_value = $(this).val();
    preview.style.backgroundColor = input_value;
  });

  /* ========== FOOTER TEXT ========== */
  $('#card_footer_text').find('.button-colors-palette').on('click', function() {
    input = $('#card_footer_text').find('input')[0];
    preview = $('#card_footer_text').find('.preview-selected-color')[0];
    openColorsPalette();
  });
  $('#input_footer_text').on('change', function() {
    preview = $('#card_footer_text').find('.preview-selected-color')[0];
    var input_value = $(this).val();
    preview.style.backgroundColor = input_value;
  });
{% endblock %}
