{# DASHBOARD BRANDS TEMPLATE #}
{% extends 'main_dashboard.twig' %}

{% block init %}
  var get_brand_action_url = "{{ path('dashboard_get_brand_action') }}";
  var delete_brand_action_url = "{{ path('dashboard_delete_brand_action') }}";

  var brands_images_directory_path = "{{ asset('images/brands/') }}";
  var image_not_found_path = "{{ asset('images/defaults/image-not-found.jpg') }}";

  var jcrop_api;
	var origin_image_width;
	var origin_image_height;
{% endblock %}

{% block include %}
  <script type="text/javascript" src="{{ asset('library/javascript/jquery.Jcrop.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('library/javascript/random_token.js') }}"></script>
  <script type="text/javascript" src="{{ asset('extras/javascript/dashboard_brands.js') }}"></script>

  <link rel="stylesheet" href="{{ asset('library/stylesheet/jquery.Jcrop.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ asset('library/stylesheet/crop.css') }}" type="text/css" />
{% endblock %}

{% block header %}
  <h5 class="center">{{ translation.dashboard.brands.page_title }}</h5>
  <div class="col s12 m12 l12 xl12">
		<div class="collection">
			<a class="collection-item" href="{{ path('dashboard_dashboard') }}"><i class="material-icons left">arrow_back</i>{{ translation.dashboard.brands.back_to_dashboard }}</a>
		</div>
	</div>
{% endblock %}

{% block main %}
  <div class="col s12 m12 l12">
    <ul class="tabs" id="scripts_tabs">
      <li class="tab col s6 m6 l6"><a class="active" href="#tab_brands">{{ translation.dashboard.brands.tab_brands }}</a></li>
      <li class="tab col s6 m6 l6"><a href="#tab_form">{{ translation.dashboard.brands.tab_form }}</a></li>
    </ul>
  </div>

  <div id="tab_brands">
    {% if brands == false %}
      <div class="col s12 m12 l12 xl12">
        <div class="card hoverable">
          <div class="card-content">
            <p>{{ translation.dashboard.brands.text_brands_missing }}</p>
          </div>
        </div>
      </div>
    {% else %}
      {% for brand in brands %}
        <div class="col s12 m12 l12 xl12">
          <div class="card hoveable">
            <div class="card-content">
              <span class="card-title">{{ brand.name }}</span>
              <p>{{ brand.description }}</p>

            </div>
            <div class="card-action">
              <a class="clickable" onclick="getBrand({{ brand.id }});">{{ translation.dashboard.brands.button_edit_brand }}</a>
              {% if brand.dependence == false %}
                <a class="clickable" onclick="deleteBrand({{ brand.id }});">{{ translation.dashboard.brands.button_delete_brand }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <div id="tab_form">
    <div class="col s12 m12 l12">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <i class="material-icons left">info</i>{{ translation.dashboard.brands.title_form_help }}</div>
          <div class="collapsible-body">
            <p>{{ translation.dashboard.brands.text_form_help }}</p>
          </div>
        </li>
      </ul>
    </div>

    <form id="form_store_images" enctype="multipart/form-data" action="{{ path('dashboard_save_images_action') }}" method="post" accept="image/*">
      <div class="col s12 m12 l12 xl12">
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title" id="form_title_add_brand">{{ translation.dashboard.brands.form_title_add_brand }}</span>
            <span class="card-title" id="form_title_edit_brand">{{ translation.dashboard.brands.form_title_edit_brand }}</span>
            <div class="input-field">
              <input type="text" name="input_brand_name" id="input_brand_name" data-length="50" value="" />
              <label for="input_brand_name">{{ translation.dashboard.brands.input_brand_name }}</label>
            </div>
            <div class="input-field">
              <textarea class="materialize-textarea" name="input_brand_description" id="input_brand_description" data-length="120"></textarea>
              <label for="input_brand_description">{{ translation.dashboard.brands.input_brand_description }}</label>
            </div>
            <div class="input-field">
              <input type="text" name="input_brand_link" id="input_brand_link" value="" />
              <label for="input_brand_link">{{ translation.dashboard.brands.input_brand_link }}</label>
            </div>
            <input type="hidden" name="MAX_FILE_SIZE" value="1000000" />
          </div>

          <div class="card-content">
            <span class="card-title">{{ translation.dashboard.brands.text_brand_image }}</span>
            <div class="file-field input-field tooltipped" data-position="top" data-delay="50" data-tooltip="{{ translation.dashboard.brands.input_brand_image }}">
              <div class="btn btn-large purple white-text">
                <span><i class="material-icons">file_upload</i></span>
                <input type="file" name="input_brand_image_file" id="input_brand_image_file" />
              </div>
              <div class="file-path-wrapper">
                <input type="text" class="file-path validate" name="input_brand_image_filename" id="input_brand_image_filename" value="" placeholder="{{ translation.dashboard.brands.input_brand_image }}" />
              </div>
            </div>
            <input type="hidden" id="original_brand_image_tokenname" value="" />
            <input type="hidden" name="brand_image_tokenname" id="brand_image_tokenname" value="" />
            <input type="hidden" name="change_brand_image" id="change_brand_image" value="0" />

            <input type="hidden" name="image_x1" id="image_x1" value="" />
  					<input type="hidden" name="image_y1" id="image_y1" value="" />
  					<input type="hidden" name="image_x2" id="image_x2" value="" />
  					<input type="hidden" name="image_y2" id="image_y2" value="" />
  					<input type="hidden" name="image_w" id="image_w" value="" />
  					<input type="hidden" name="image_h" id="image_h" value="" />
          </div>
          <div class="card-content" id="block_brand_image_preview" hidden>
            <div style="width: 200px; height: 200px; overflow:hidden; background-color: #ffaa77;">
              <img src="" id="brand_image_preview" />
            </div>
            <a class="btn blue white-text" id="show_crop_modal">{{ translation.dashboard.brands.button_show_crop_modal }}</a>
          </div>


          <div class="card-content">



            <div class=""></div>
          </div>

          <div class="card-action">
            <a class="clickable" id="button_add_brand">{{ translation.dashboard.brands.button_add_brand }}</a>
            <a class="clickable" id="button_save_brand">{{ translation.dashboard.brands.button_save_brand }}</a>
            <a class="clickable" id="button_clear_form">{{ translation.dashboard.brands.button_clear_form }}</a>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block modules %}
  <div id="modal_crop_image" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="input-field center" id="origin_image_field"></div>
    </div>
    <div class="modal-footer">
      <a class="clickable waves-effect waves-green btn-flat left" id="button_save_crop"><i class="material-icons">done_all</i></a>
      <a class="clickable waves-effect waves-orange btn-flat" id="button_crop_disable"><i class="material-icons">close</i></a>
      <a class="clickable modal-close waves-effect waves-red btn-flat">{{ translation.dashboard.brands.button_close }}</a>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  $('#form_title_edit_brand, #button_save_brand').hide();
  $('#input_brand_name, #input_brand_description').characterCounter();
  //$('#brand_image_preview').prop('src', image_not_found_path);

  $('#input_brand_image_file').on('change', function() {
    var elem = $('#modal_crop_image');
    var instance = M.Modal.getInstance(elem);
    instance.open();
    previewImage(this);
  });

  $('#show_crop_modal').on('click', function() {
    var elem = $('#modal_crop_image');
    var instance = M.Modal.getInstance(elem);
    instance.open();
  });

  $('#button_save_crop').on('click', function() {
    $('#brand_image_tokenname').val(generateToken(32));
		saveCrop();
  });

  $('#button_crop_disable').click(function(e) {
		releaseCrop();
	});

  $('#button_clear_form').on('click', function() {
    clearForm();
    elegant_alert.success("{{ translation.dashboard.brands.alert_clear_form }}");
  });

{% endblock %}
