{# DASHBOARD PROFILE TEMPLATE #}
{% extends 'main_dashboard.twig' %}

{% block include %}
	<script type="text/javascript" src="{{ asset('/library/javascript/form_verification.js') }}"></script>

	<script type="text/javascript" src="{{ asset('include/javascript/dashboard_profile.js') }}"></script>

{% endblock %}

{% block main %}
	<h4 class="center">{{ translation.dashboard.profile.page_title }}</h4>

	<div class="col s12 m12 l12">
		<div class="card hoverable">
			<div class="card-content">
				<form id="form_edit_profile" enctype="multipart/form-data" action="{{ path('dashboard_edit_profile_action') }}" method="post">
					<p>
						<div class="input-field">
							<input type="text" name="input_user_name" id="input_user_name" value="{{ profile.name }}" />
							<label for="input_user_name">{{ translation.dashboard.profile.input_user_name }}</label>
						</div>
          </p>

          <span class="card-title center">{{ translation.dashboard.profile.form_authorization_title }}</span>
          <p>{{ translation.dashboard.profile.text_info }}</p>
          <p>
						<div class="input-field">
							<input type="text" name="input_user_email" id="input_user_email" value="{{ profile.email }}" />
							<label for="input_user_email">{{ translation.dashboard.profile.input_user_email }}</label>
						</div>
						<div class="input-field">
							<input type="text" name="input_user_password" id="input_user_password" value="" />
							<label for="input_user_password">{{ translation.dashboard.profile.input_user_password }}</label>
						</div>
					</p>

					<input type="hidden" name="input_user_id" value="{{ profile.id}}" />
				</form>
			</div>
			<div class="card-action">
				<a class="clickable" id="button_save_profile">{{ translation.dashboard.profile.button_save_profile }}</a>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascript %}
	$('#button_save_profile').on('click', function() {
		var form_data = serializeForm();

		if(form_data.name.length >= 3 && checkEmail(form_data.email) == true) {
			if(form_data.password.length != 0 && form_data.password.length >= 6) {
				$('#form_edit_profile').trigger('submit');
			}
			else if(form_data.password.length == 0) {
				$('#form_edit_profile').trigger('submit');
			} else {
				elegant_alert.warning("{{ translation.dashboard.profile.warning_input_password }}");
			}
		} else {
			elegant_alert.warning("{{ translation.dashboard.profile.warning_input_form }}");
		}
		delete form_data;
	});
{% endblock %}
