<!DOCTYPE html>
<html debug="true">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ translation.dashboard.main.page_title }}</title>
		<meta name="robots" content="none" />

		<!--<script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script>-->
		<!--<script type="text/javascript" src="{{ asset('javascript/library/firebug-lite.js') }}">
			{
				overrideConsole: true,
				startInNewWindow: true,
				startOpened: true,
				enableTrace: true
			}
		</script>-->

		{% set path_products_images = asset('images/products/') %}
		{% set path_brands_images = asset('images/brands/') %}
		{% set path_defaults_images = asset('images/defaults/') %}

		<script type="text/javascript">
			var write_log_action_url = "{{ path('write_log_action') }}";

			var path_products_images = "{{ path_products_images }}";
			var path_brands_images = "{{ path_brands_images }}";
			var path_defaults_images = "{{ path_defaults_images }}"

			{% block init %}{% endblock %}
		</script>

		<link rel="stylesheet" href="{{ asset('library/stylesheet/materialize.min.css') }}"/>
		<link rel="stylesheet" href="{{ asset('include/stylesheet/main_dashboard.css') }}"/>

		<link href="{{ asset('fonts/material-icons/material-icons.css') }}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

		<script src="{{ asset('library/javascript/jquery-3.3.1.min.js') }}"></script>
		<script src="{{ asset('library/javascript/jquery.cookie.js') }}"></script>
		<script src="{{ asset('library/javascript/materialize.min.js') }}"></script>
		<script src="{{ asset('include/javascript/main_dashboard.js') }}"></script>

		{% block include %}{% endblock %}

		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}"/>
	</head>
	<body>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper light-blue accent-4">
					{% if authorization == true %}
						<ul class="left">
							<li><a class="clickable" id="button_open_menu"><i class="material-icons">menu</i></a></li>
						</ul>
					{% endif %}
						<ul class="left hide-on-med-and-down">
							<li><a href="{{ path('dashboard_dashboard') }}">{{ translation.dashboard.main.link_dashboard }}</a></li>
						</ul>
					{% if authorization == true %}
						<ul class="right">
							<li><a class="clickable" href="{{ path('dashboard_inbox') }}"><i class="material-icons">email</i></a></li>
							<li><a class="clickable" id="clear_alerts"><i class="material-icons">clear_all</i></a></li>
							<li><a class="clickable" id="button_logout_user"><i class="material-icons">exit_to_app</i></a></li>
						</ul>
					{% endif %}
					<div class="progress red" id="preloader"><div class="indeterminate green"></div></div>
				</div>

			</nav>
		</div>
	{% if authorization == true %}
	<ul id="slide-out" class="sidenav">
		<li>
			<div class="user-view">
				<div class="background teal"></div>
				<a class="sidenav-close white-text clickable"><i class="material-icons right">close</i></a><br>
				<a><span class="white-text name">{{ profile.name }}</span></a>
				<a><span class="white-text email">{{ profile.email }}</span></a>
			</div>
		</li>
		<li><a href="{{ path('dashboard_dashboard') }}"><i class="material-icons left">dashboard</i>{{ translation.dashboard.main.link_dashboard }}</a></li>
		<li><a href="{{ path('store_public') }}" target="_blank"><i class="material-icons left">store</i>{{ translation.dashboard.main.link_store }}</a></li>
		<li class="divider"></li>
		<li><a href="{{ path('dashboard_profile') }}"><i class="material-icons left">person</i>{{ translation.dashboard.main.link_profile }}</a></li>
		<li class="divider"></li>
		<li><a href="{{ path('dashboard_orders') }}"><i class="material-icons left">shopping_cart</i>{{ translation.dashboard.main.link_orders }}</a></li>
		<li class="divider"></li>
		<li><a href="{{ path('dashboard_categories') }}"><i class="material-icons left">apps</i>{{ translation.dashboard.main.link_categories }}</a></li>
		<li><a href="{{ path('dashboard_products') }}"><i class="material-icons left">widgets</i>{{ translation.dashboard.main.link_products }}</a></li>
		<li><a href="{{ path('dashboard_recommendations') }}"><i class="material-icons left">favorite</i>{{ translation.dashboard.main.link_recommendations }}</a></li>
		<li class="divider"></li>
		<li><a href="{{ path('dashboard_users') }}"><i class="material-icons left">supervisor_account</i>{{ translation.dashboard.main.link_users }}</a></li>
		<li class="divider"></li>
		<li><a href="{{ path('dashboard_settings') }}"><i class="material-icons left">settings</i>{{ translation.dashboard.main.link_settings }}</a></li>
		<li><a href="{{ path('dashboard_public') }}"><i class="material-icons left">code</i>{{ translation.dashboard.main.link_metadata }}</a></li>
		<li><a href="{{ path('dashboard_languages') }}"><i class="material-icons left">language</i>{{ translation.dashboard.main.link_languages }}</a></li>
		<li><a href="{{ path('dashboard_analytics') }}"><i class="material-icons left">assessment</i>{{ translation.dashboard.main.link_analytics }}</a></li>
		<li><a href="{{ path('dashboard_modules') }}"><i class="material-icons left">extension</i>{{ translation.dashboard.main.link_modules }}</a></li>
		<li><a href="{{ path('dashboard_logs') }}"><i class="material-icons left">list</i>{{ translation.dashboard.main.link_logs }}</a></li>
		<li class="divider"></li>

	</ul>
	{% endif %}

		<header class="container">
			<div class="row">
				{% block header %}{% endblock %}
			</div>
		</header>

		<main class="container">
			<div class="row">
				{% block main %}{% endblock %}
			</div>
		</main>

		<div id="input_form" class="modal modal-fixed-footer">
			{% block inputform %}{% endblock %}
		</div>


		{% block modules %}{% endblock %}

		<script type="text/javascript">
			$(document).ready(function() {
				$('#preloader').hide();
				$('#clear_alerts').on('click', function() {
					M.Toast.dismissAll();
				});
				{% block javascript %}{% endblock %}
			});

			{% if authorization == true %}
				/* Открытие бокового меню */
				$('#button_open_menu').on('click', function() {
					$('#slide-out').sidenav('open');
				});

				/* Кнопка выхода из панели управления */
				$('#button_logout_user').on('click', function() {
					window.location.replace("{{ path('dashboard_logout_user_action') }}");
				});
			{% endif %}
		</script>
	</body>
</html>
